body{
	background-color: #e3e3e3;
	font-family: sans-serif;
	width: 600px;
	margin: auto;
}

blockquote{
	border: 1px solid white;
	text-align: center;
	margin-left: 0;
	height:30px;
padding-bottom: 10px;
padding-top: 10px;
}